{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <a class="btn btn-primary float-right" href="{{ path('app_login') }}">Back to Login Page</a>
    <h2 class="page-header">Registration</h2>
    <hr>
    {{ form(form) }}


{% endblock %}
